*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

} 
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-de-linhas-dinamicas-de-estilo-de-papel_23-2149008629.jpg?size=626&ext=jpg&ga=GA1.1.735520172.1710892800&semt=ais);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section{
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba( 255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
}